body{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: solid;
    border-color: gray
}
.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    border: solid;
    border-radius: 10px;
    background-color: floralwhite;
    font-size:20px;
    font-weight: 300;
    text-align: center;
    position: fixed;
    z-index: 100;
}
.nav{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 300;
    border: solid;
    border-radius: 10px;
    background-color: aliceblue;
    width: 100%;
    height: 40px;
}
.h2{
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    height: 50px;
    text-align: center;
}
.box0{
    background-image: url(00.webp);
    width: 30%;
    height: 50%;
    border: solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.table{
    width: 100%;
    height: 50%;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: solid;
}
.p{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: ghostwhite;
}
div{
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: solid;
    text-align: center;
    display: flex;
    justify-content: center;
}
.box1{
border-radius: 10px;
border: solid;
width: 30%;
height: 50%;
background-image: url(01.webp);
background-image: url(02.webp);
 background-image: url(03.webp);
 display: flex;
 justify-content: space-around;
}
.box2{
     background-image: url(04.webp);
     background-image: url(05.webp);
     background-image: url(06.webp);
     border-radius: 10px;
     border: solid;
     width: 30%;
     height: 50%;
     display: flex;
     justify-content: space-around;
}
.box3{
    background-image: url(07.webp);
    background-image: url(08.webp);
    background-image: url(09.webp);
    background-image: url(10.webp);
    border-radius: 10px;
    border: solid;
    width: 20%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}
.item1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 300;
    background-color: cornsilk;
    border-radius: 20px;
    border: solid;
    text-align: center;
}
.item2{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 300;
    border-radius: 20px;
    border: solid;
    width: 100%;
    height: 40px;
    background-color: cornsilk;
}
